
body{
    font-size: 12px;
    background-color: rgb(247, 190, 85);
    border-radius: 12px;
    margin: 0px;
    margin-bottom: 100px;
}

h1 { background-color:#414be2;
    color:#ffffff;text-align:center;
    font-size: 30px;
    
}


h2{ 
    color: rgb(4, 0, 255);
    font-size: 25px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

h3{ 
    font-size: 20px;
    color: rgb(58, 67, 244);
    font-family:'Times New Roman', Times, serif;
}


h4{ 
    font-size: 20px;
    color: rgba(83, 104, 239, 0.716);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h5{ 
    font-size: 20px;
    color: rgba(244, 14, 10, 0.716);
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

p1,p{
    font-family:cursive;
    color: rgb(48, 52, 78);
}

hr{
    height: 7px;
    background-color: rgb(0, 0, 0) 
}
/* navigation bar design */
.navBar ul {
    list-style-type: none;
    background-color: gray;
    padding: 0px;
    margin: 0px;
    overflow:hidden;
}

.navBar a{
        color: white;
        text-decoration: none;
        padding: 15px;
        display: block;
        text-align:left
}

.navBar a:hover{
    background-color: blue
}

.navBar li{
    float:left;
}

/*all the drop down design and information to make it functional*/
.dropbtn {
    background-color: lightskyblue;
    color: white;
    padding: 14px;
    font-size: 14px;
    border: none;
}

.dropdown-design {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(83, 104, 239, 0.716);
    z-index: 1;
}

.dropdown:hover .dropdown-design {
    display: block;
}

.dropdown-make a {
    color:black;
    padding: 10px 14px;
    text-decoration: none;
    display: block;
}

/*for drop-down to hover*/
.dropdown-make a:hover {
    background-color:rgb(11, 171, 224)
}

/* original Image parameters*/
.image { 
    width: 400px;
    height: 400px;
    display:block;
    margin:auto;
}

/*to be used in main.js as a part of a function that adjusts the image*/
.tweakedImage {
    width:800px;
    height:800px;
    display:block;
    margin:auto;
}


